doctype html

html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 
    meta(name="description", content="")
    meta(name="author", content="author")
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')
    
    // Place favicon.ico and apple-touch-icon(s) in the root directory.
    // Generate new ones, unless your client is Bruce Wayne, in which case move along.
    // http://www.favicomatic.com      
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
    meta(name="application-name" content="&nbsp;")
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="msapplication-TileImage" content="mstile-144x144.png")
    script(src="js/modernizr.js")
  body

    #i

    header
      nav
        ul
          li
            a(href="#") Navigation Item 1
          li
            a(href="#") Navigation Item 2
          li
            a(href="#") Navigation Item 3
    
    section
      h1 Section Title
      
      article
        header
          h2 Article Title
        
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum eu ex imperdiet imperdiet. Sed nec lacus ut odio ultricies cursus vel ut lacus. Nulla facilisi. Proin porttitor blandit augue, a commodo leo aliquam eget. Pellentesque massa odio, iaculis et odio vel, rhoncus mattis nisi. Suspendisse et purus ut sapien mattis ultricies eget dignissim enim. Duis malesuada accumsan enim. Cras eget dui suscipit mi sollicitudin varius ut ornare sapien. Nullam posuere sodales arcu, id sodales diam blandit ut. Curabitur pellentesque ullamcorper eros quis congue. Maecenas tempus a orci ac sagittis. Sed facilisis tortor eros, non sollicitudin enim pellentesque non. Phasellus euismod, libero et ultricies dictum, risus libero tempus sapien, nec fringilla dui quam in nulla. Nam at faucibus dui. Etiam placerat convallis urna eu rutrum.

        blockquote Morbi quis ante eget purus feugiat pharetra. Vivamus fermentum, sapien at cursus euismod, dolor justo pretium lorem, in fringilla erat est vel purus. Suspendisse suscipit in justo sed blandit. 

        p Vivamus ac varius nibh. Aliquam erat volutpat. Sed iaculis, urna dapibus egestas hendrerit, eros orci ultrices nisl, vel tincidunt felis turpis at magna. Aenean sed ligula mi. Curabitur venenatis porta ex, a bibendum neque feugiat et. Morbi a sapien ac sapien scelerisque luctus ut non massa. Vestibulum ac purus pretium, bibendum metus id, tristique arcu. Nam eleifend lorem vitae ex commodo, ac semper ante sagittis. Sed luctus faucibus purus quis suscipit. Curabitur a neque cursus, blandit risus ac, lacinia lacus. Quisque at feugiat ante. Quisque est nisl, scelerisque in nisi sit amet, interdum fermentum ipsum.

    aside
      h2 About section
      p Maecenas sed orci porta, egestas purus sed, dictum quam. Maecenas vehicula enim sit amet magna semper vestibulum. Phasellus iaculis justo at nulla luctus rhoncus. Mauris viverra facilisis eros ac lobortis. Etiam tempus massa vel risus porttitor facilisis. Nullam erat est, maximus sed elit et, commodo finibus ex. Sed tellus tortor, bibendum sed odio laoreet, euismod viverra nisl. Duis id aliquam lacus. Duis pretium at augue eleifend mattis. Nunc nec neque lobortis, fermentum lectus quis, eleifend erat. Duis accumsan nisl quis metus rutrum, nec commodo augue consectetur. Fusce ullamcorper, ex eu placerat vehicula, velit lorem blandit nibh, quis lacinia massa metus ut mi.

    footer
  script(src="js/vendor.js")
  script(src="js/main.js")